#分析

In [1]:
import pandas as pd

df = pd.read_csv('2-39 桃園市身心障礙學生教育補助人數.csv')

print(df.to_string())

    學年別     男性    女性
0    96   3997  2191
1    97   4398  2365
2    98   4478  2363
3    99   4802  2503
4   100   5181  2689
5   101   5609  2841
6   102   6325  3013
7   103   7569  3486
8   104   7550  3488
9   105   8539  3759
10  106   9135  3929
11  107   9408  3951
12  108   9641  4072
13  109  10078  4290
14  110  10327  4407

In [2]:
df

    學年別     男性    女性
0    96   3997  2191
1    97   4398  2365
2    98   4478  2363
3    99   4802  2503
4   100   5181  2689
5   101   5609  2841
6   102   6325  3013
7   103   7569  3486
8   104   7550  3488
9   105   8539  3759
10  106   9135  3929
11  107   9408  3951
12  108   9641  4072
13  109  10078  4290
14  110  10327  4407