In [44]:
import pandas as pd
df = pd.read_csv('a99cb335-0c34-4a4b-9d32-83fc569ab712.csv')
df.head()

,工作計畫名稱及預算數(僅列補助團體私人預算金額),補助事項或用途,補助對象團體全銜或私人姓名,核准日期,補助計畫案總經費及分攤情形-本機關補助金額,補助計畫案總經費及分攤情形-他機關補助金額,補助計畫案總經費及分攤情形-團體或私人自付金額,補助計畫案總經費及分攤情形-合計,截至本季累計撥款金額,分攤補助款機關名稱及金額(請逐一填列),有無涉及財物或勞務採購,處理方式(如未涉及採購則毋須填列如採公開招標請填列得標廠商),是否為除外規定之民間團體-是,是否為除外規定之民間團體-否
0,國民中學學務管理及獎補助(3000000元),NaN,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN,NaN,NaN,NaN
1,中央補助國民中學教育經費(0元),補助國中畢業生多元進路宣導說明會經費,慈濟學校財團法人慈濟大學附屬高級中學,102.05.01,1696.0,0.0,0.0,1696,1696,NaN,無,NaN,v,NaN
2,NaN,補助國中畢業生多元進路宣導說明會經費,財團法人臺灣省花蓮縣私立海星高級中學,102.05.01,3200.0,0.0,0.0,3200,3200,NaN,無,NaN,v,NaN
3,國民小學學務管理及獎補助(3019000元),補助辦理「遠哲科學紮根體驗營」活動經費,財團法人遠哲科學教育基金會,102.01.16,20000.0,0.0,0.0,20000,20000,NaN,無,NaN,v,NaN
4,NaN,478431號調查費,財團法人花蓮縣私立海星國民小學,102.01.30,4000.0,0.0,0.0,4000,4000,NaN,無,NaN,v,NaN

1.涉及財物或勞務採購的有多少？

In [84]:
from collections import Counter
count_class = Counter(df["有無涉及財物或勞務採購"])
count_class

Counter({nan: 1, '無': 624})

In [85]:
df3 = pd.DataFrame.from_dict(count_class,orient='index',columns=["Count"])
df3

     Count
NaN      1
無      624

2.是規定外的民間團體的事項有幾個？

In [96]:
from collections import Counter
count_class = Counter(df["是否為除外規定之民間團體-是"])
count_class

Counter({nan: 4, 'v': 621})

3.本機關補助金額平均為多少？

In [40]:
mean_data = data['補助計畫案總經費及分攤情形-本機關補助金額'].mean()
print(mean_data)

108260.59134615384

答：約108260

4.補助事項有哪幾種？各有幾次？

In [51]:
df["補助事項或用途"].value_counts()

101學年第2學期獎補助身心障礙幼兒「招收單位」經費    114
101學年度第2學期5歲幼兒免學費教育計畫-行政作業     96
101學年第2學期5歲幼兒免學費教育計畫-行政作業      42
102學年第1學期私立幼兒園行政作業費            41
102學年第1學期獎助身障幼兒之「招收單位」經費       36
                             ...
102年花蓮縣B級劍道裁判講習會                1
辦理HPB2013觀護盃籃球邀請賽               1
102年全國運動會培訓經費                   1
102年全國運動會參賽經費                   1
102年度設置棒球基層訓練站週末對抗賽經費           1
Name: 補助事項或用途, Length: 145, dtype: int64

5.各事項補助金額為多少？

In [56]:
temp = df[['補助事項或用途', '補助計畫案總經費及分攤情形-本機關補助金額']]
temp

                      補助事項或用途  補助計畫案總經費及分攤情形-本機關補助金額
0                         NaN                    NaN
1          補助國中畢業生多元進路宣導說明會經費                 1696.0
2          補助國中畢業生多元進路宣導說明會經費                 3200.0
3         補助辦理「遠哲科學紮根體驗營」活動經費                20000.0
4                  478431號調查費                 4000.0
..                        ...                    ...
620  2013世紀飛天龍、鯉魚展競技龍舟競渡嘉年華經費               100000.0
621           2013洄瀾國際鐵人三項精英賽               200000.0
622     102年度設置棒球基層訓練站週末對抗賽經費                30000.0
623   102年度學生棒球運動區域人才培育計畫活動經費              1119557.0
624            花蓮縣社區大學102年度經費                23000.0

[625 rows x 2 columns]

6.本機關補助總額為多少？

In [57]:
mean_df = df['補助計畫案總經費及分攤情形-本機關補助金額'].sum()
print(mean_df)

67554609.0

7.未撥款金額為多少？

In [62]:
df['未撥款金額'] = df['補助計畫案總經費及分攤情形-本機關補助金額'] - df['截至本季累計撥款金額']
mean_df = df['未撥款金額'].sum()
print(mean_df)

0.0

8.其他機關補助金額占多少百分比？

In [70]:
others_count = df['補助計畫案總經費及分攤情形-他機關補助金額'].sum()
our_count = df['補助計畫案總經費及分攤情形-本機關補助金額'].sum()
percentage_all = (others_count / our_count) * 100
percentage_all

69.91025882482718

9.一天最多核准了幾件事項？

In [75]:
from collections import Counter
count_class = Counter(df["核准日期"])
count_class
df2 = pd.DataFrame.from_dict(count_class,orient='index',columns=["Count"])
df2

           Count
NaN            1
102.05.01      8
102.01.16      3
102.01.30      9
102.04.23     16
...          ...
102.12.02      1
103.01.10      2
102.11.13      1
102.01.11      1
102.11.14      1

[101 rows x 1 columns]

In [79]:
most_day=df2['Count'].max()
most_day

114

10.計畫的總經費總共為多少？

In [80]:
all_money = data['補助計畫案總經費及分攤情形-合計'].sum()
all_money

147070796